@using KoperingPizza.Models;
@model List<Slider>
<main>

    <section class="introduction-section">
        <div class="introduction">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var item in Model)
                    {
                        <div class="swiper-slide">
                            <div class="left-side">
                                <h1>@item.Name</h1>
                                <h2>@item.Title</h2>
                                <p>@item.Description</p>

                            </div>
                            <div class="right-side"> <img src="~/image/Slider-image/@item.Image" alt=""></div>
                        </div>
                    }

                </div>
            </div>
        </div>



    </section>



</main>
