<section class="menu">
    <div class="food-card">
        <div class="food">
            <img src="~/assets/image/hamburger.png" alt="">
            <div class="food about">
                <h3>Hamburger</h3>
                <button>Səbətə əlavə et</button>
            </div>
        </div>
    </div>
    <div class="food-card">
        <div class="food">
            <img src="~/assets/image/hamburger.png" />
            <div class="food about">
                <h3>Hamburger</h3>
                <button>Səbətə əlavə et</button>
            </div>
        </div>
    </div>
    <div class="food-card">
        <div class="food">
            <img src="~/assets/image/hamburger.png" />
            <div class="food about">
                <h3>Hamburger</h3>
                <button>Səbətə əlavə et</button>
            </div>
        </div>
    </div>
    <div class="food-card">
        <div class="food">
            <img src="~/assets/image/hamburger.png" alt="">
            <div class="food about">
                <h3>Hamburger</h3>
                <button>Səbətə əlavə et</button>
            </div>
        </div>
    </div>
    <div class="food-card">
        <div class="food">
            <img src="~/assets/image/hamburger.png" alt="">
            <div class="food about">
                <h3>Hamburger</h3>
                <button>Səbətə əlavə et</button>
            </div>
        </div>
    </div>
    <div class="food-card">
        <div class="food">
            <img src="~/assets/image/hamburger.png" alt="">
            <div class="food about">
                <h3>Hamburger</h3>
                <button>Səbətə əlavə et</button>
            </div>
        </div>
    </div>
    <div class="food-card">
        <div class="food">
            <img src="~/assets/image/hamburger.png" alt="">
            <div class="food about">
                <h3>Hamburger</h3>
                <button>Səbətə əlavə et</button>
            </div>
        </div>
    </div>
    <div class="food-card">
        <div class="food">
            <img src="~/assets/image/hamburger.png" alt="">
            <h3>Hamburger</h3>
            <button>Səbətə əlavə et</button>
        </div>
    </div>
</section>